.toast {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: fadeInOut 2s ease forwards;
  pointer-events: none;
  z-index: 9999;
}

.toast-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
