.recoveryMsg__wrapper {
  width: 340px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  
  backdrop-filter: blur(15rem);
  background-color: hsla(210, 100%, 100%, 1);
  border-radius: .5rem;
}

.highlight {
  font-weight: bold; 
  color: hsl(32, 100%, 52%);
}

.recoveryMsg__text{
  width: 200px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 24px 40px;
}