/* Para las validaciones */
.normal {
  opacity: 1;
}
.normal:focus,
.normal:focus-visible {
  outline: 1px solid hsla(32, 100%, 52%, 1);
  border-radius: 0px 16px;
}

.visited {
  border-style: solid;
  border-color:hsla(223, 1%, 52%, 1);
  color: hsla(223, 1%, 52%, 1);
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
}
.visited:focus,
.visited:focus-visible {
  border-style: solid;
  border-radius: 0px 16px;
}

.valid {
  border-style: solid;  
}
.valid:focus,
.valid:focus-visible {
  border-style: solid !important;
  border-color:green !important;
  border-radius: 0px 16px !important;
  outline: none !important;
}

.invalid {
  border-style: solid;
  border-color: red ;
  box-shadow: 0.1px 0.2px 0.1px brown;
}
.invalid:focus,
.invalid:focus-visible {
  border-style: solid;
  border-radius: 0px 16px;
  outline: none;
}

.disable {
  display: none;
}

.valid-text {
  color: green;
  text-shadow: 0.1px 0.2px 0.1px rgb(8, 107, 8);
}
.invalid-text {
  color: red;
  text-shadow: 0.1px 0.2px 0.1px brown;
}
