.register__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* NavBar */
.register__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 40px;
  padding: 0px 24px 0px 0px;
  margin-top: 5%;
}

.register__navbar-link:focus,
.register__navbar-link:focus-visible {
  outline: 3px solid hsla(32, 100%, 52%, 1);
  border-radius: 2px;
}

.register__navbar-text {
  width: 272px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

/* Center */
.section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  margin-top: 15%;
}

.section__title {
  font-family: Rubik;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: center;
}

.register__form {
  width: 320px;
  height: 118px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register__label {
  width: 320px;
  height: 28px;

  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}

.relative {
  position: relative;
}

.register__input {
  width: 320px;
  height: 48px;
  border-radius: 0px 16px;
  border: 2px solid hsla(210, 8%, 90%, 1);
}
.register__input:focus,
.register__input:focus-visible {
  border: 2px solid hsla(32, 100%, 52%, 1);
  outline: 1px solid hsl(32, 100%, 52%);
}
.register__input::placeholder {
  padding-left: 0.5rem;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18px;
  color: hsla(223, 1%, 52%, 1);
}
.register__input-text {
  width: 320px;
  height: 18px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
  color: hsla(223, 1%, 52%, 1);
}

/* */
.section__button {
  margin-top: 80%;
}


/* Para las validaciones */
.valid {
}
.valid:focus,
.valid:focus-visible {
  outline: 1px solid hsla(32, 100%, 52%, 1);
  border-radius: 0px 16px;
}

.invalid {
}
.invalid:focus,
.invalid:focus-visible {
  /* outline: 1px solid hsl(0, 92%, 47%); */
  border-radius: 0px 16px;
}


/* Instructions Styles */
.instructions__wrapper {
  position: absolute;
  top: 60px;
  background-color: hsla(32, 100%, 52%, 1);
  padding: 10px;
  z-index: 1000;
  width: calc(100% - 10px);
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.instructions__wrapper::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  border: 5px solid transparent;
  border-bottom: 8px solid var(--clr-91);
  transform: translateX(-50%);
}

.onscreen {
  z-index: 1;
  opacity: 1;
  display: block;
}

.instructions__text_wrapper {
  display: flex;
  gap: 5px;
}

.instructions__text {
  margin-left: 0.25rem;
  font-size: 11px;
  color: #f8f9fa;
}

/* Visually Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
